.icon-sprite,.icon-1,.icon-10,.icon-11,.icon-12,.icon-13,.icon-14,.icon-15,.icon-16,.icon-17,.icon-1_2,.icon-2,.icon-2_2,.icon-3,.icon-3_2,.icon-4,.icon-4_2,.icon-5,.icon-6,.icon-7,.icon-8,.icon-9,.icon-qq,.icon-xinlang
	{
	background-image: url("../images/icon-s566844aed7.png");
	background-repeat: no-repeat;
}

.icon-1 {
	background-position: 0 0;
}

.icon-10 {
	background-position: 0 -180px;
}

.icon-11 {
	background-position: 0 -410px;
}

.icon-12 {
	background-position: 0 -640px;
}

.icon-13 {
	background-position: 0 -870px;
}

.icon-14 {
	background-position: 0 -1022px;
}

.icon-15 {
	background-position: 0 -1174px;
}

.icon-16 {
	background-position: 0 -1326px;
}

.icon-17 {
	background-position: 0 -1478px;
}

.icon-1_2 {
	background-position: 0 0;
}

.icon-2 {
	background-position: 0 -1810px;
}

.icon-2_2 {
	background-position: 0 -1810px;
}

.icon-3 {
	background-position: 0 -2170px;
}

.icon-3_2 {
	background-position: 0 -2170px;
}

.icon-4 {
	background-position: 0 -2530px;
}

.icon-4_2 {
	background-position: 0 -2530px;
}

.icon-5 {
	background-position: 0 -2890px;
}

.icon-6 {
	background-position: 0 -3120px;
}

.icon-7 {
	background-position: 0 -3350px;
}

.icon-8 {
	background-position: 0 -3580px;
}

.icon-9 {
	background-position: 0 -3810px;
}

.icon-qq {
	background-position: 0 -4040px;
}

.icon-xinlang {
	background-position: 0 -4103px;
}