<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jbbs_jifen_group" >
  <select id="find" resultType="cc.javaee.bbs.model.JifenGroup" parameterType="cc.javaee.bbs.model.JifenGroup" >
    select 
    id, name, jifen, classname, createtime, descs, createuserid
    from jbbs_jifen_group
    where 1=1
     <if test="id != null" >
    	and id = #{id,jdbcType=INTEGER}
     </if>
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from jbbs_jifen_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cc.javaee.bbs.model.JifenGroup" >
    insert into jbbs_jifen_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="jifen != null" >
        jifen,
      </if>
      <if test="classname != null" >
        classname,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="descs != null" >
        descs,
      </if>
      <if test="createuserid != null" >
        createuserid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="jifen != null" >
        #{jifen,jdbcType=INTEGER},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="descs != null" >
        #{descs,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="cc.javaee.bbs.model.JifenGroup" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon May 29 21:11:12 CST 2017.
    -->
    update jbbs_jifen_group
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="jifen != null" >
        jifen = #{jifen,jdbcType=INTEGER},
      </if>
      <if test="classname != null" >
        classname = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="descs != null" >
        descs = #{descs,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        createuserid = #{createuserid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>