<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jbbs_jifen" >
  
  <select id="find" resultType="cc.javaee.bbs.model.Jifen" parameterType="cc.javaee.bbs.model.Jifen" >
    select 
    id, content, type, createtime, fenshu, userid,operateuserid
    from jbbs_jifen
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 查询积分今天的次数 -->
  <select id="findnowcount" resultType="java.lang.Integer" parameterType="cc.javaee.bbs.model.Jifen" >
    select 
    count(1) 
    from jbbs_jifen
   <![CDATA[ 
	   where createtime >  CONCAT(CURDATE(),' 00:00:00') 
	   AND createtime < CONCAT(CURDATE(),' 23:59:59')  
   ]]>
    <if test="type != null" >
        and type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="userid != null" >
        and userid = #{userid,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="findpage" resultType="cc.javaee.bbs.model.Jifen" parameterType="cc.javaee.bbs.model.PageBean" >
    
    select 
    id, content, type, createtime, fenshu, userid,operateuserid
    from jbbs_jifen t1 
    where 1=1 
    <if test="bean.id != null" >
        and t1.id = #{bean.id,jdbcType=INTEGER}
    </if>
    <if test="bean.userid != null" >
        and t1.userid = #{bean.userid,jdbcType=INTEGER}
    </if>
    <if test="bean.type != null and bean.type!=''" >
        and t1.type = #{bean.type,jdbcType=VARCHAR}
    </if>
    <if test="bean.starttime != null  and bean.starttime!=''" >
        and t1.createtime >= '${bean.starttime} 00:00:00'
    </if>
    <if test="bean.endtime != null  and bean.endtime!=''" >
       <![CDATA[   and t1.createtime <= '${bean.endtime} 23:59:59' ]]>
    </if>
    ORDER BY t1.id desc
    LIMIT ${pageNo}, ${pageSize}
    
  </select>
  <select id="findpagecount" resultType="java.lang.Integer" parameterType="cc.javaee.bbs.model.PageBean" >
   
    select 
    count(*)
    from jbbs_jifen t1 where 1=1 
    <if test="bean.id != null" >
        and t1.id = #{bean.id,jdbcType=INTEGER}
    </if>
    <if test="bean.userid != null" >
        and t1.userid = #{bean.userid,jdbcType=INTEGER}
    </if>
    <if test="bean.type != null and bean.type!=''" >
        and t1.type = #{bean.type,jdbcType=VARCHAR}
    </if>
    <if test="bean.starttime != null  and bean.starttime!=''" >
        and t1.createtime >= '${bean.starttime} 00:00:00'
    </if>
    <if test="bean.endtime != null  and bean.endtime!=''" >
       <![CDATA[   and t1.createtime <= '${bean.endtime} 23:59:59' ]]>
    </if>
    
  </select>
  
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from jbbs_jifen
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cc.javaee.bbs.model.Jifen" >
    insert into jbbs_jifen
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="fenshu != null" >
        fenshu,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="operateuserid != null" >
        operateuserid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="fenshu != null" >
        #{fenshu,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="operateuserid != null" >
        #{operateuserid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="cc.javaee.bbs.model.Jifen" >
    update jbbs_jifen
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="fenshu != null" >
        fenshu = #{fenshu,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="operateuserid != null" >
        operateuserid = #{operateuserid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>