.VIP1{
	background:url(../img/member/1.png) ;
	height: 20px;
	width: 20px;
	margin:0 auto;
}
.VIP2{
	background:url(../img/member/1.png) ;
	height: 20px;
	width: 40px;
	margin:0 auto;
}
.VIP3{
	background:url(../img/member/1.png) ;
	height: 20px;
	width: 60px;
	margin:0 auto;
}
.VIP4{
	background:url(../img/member/1.png) ;
	height: 20px;
	width: 80px;
	margin:0 auto;
}
.VIP5{
	background:url(../img/member/1.png) ;
	height: 20px;
	width: 100px;
	margin:0 auto;
}
.VIP6{
	background:url(../img/member/2.png) ;
	height: 20px;
	width: 20px;
	margin:0 auto;
}
.VIP7{
	background:url(../img/member/2.png) ;
	height: 20px;
	width: 40px;
	margin:0 auto;
}
.VIP8{
	background:url(../img/member/2.png) ;
	height: 20px;
	width: 60px;
	margin:0 auto;
}
.VIP9{
	background:url(../img/member/2.png) ;
	height: 20px;
	width: 80px;
	margin:0 auto;
}
.VIP10{
	background:url(../img/member/2.png) ;
	height: 20px;
	width: 100px;
	margin:0 auto;
}
.VIP11{
	background:url(../img/member/3.png) ;
	height: 20px;
	width: 20px;
	margin:0 auto;
}
.VIP12{
	background:url(../img/member/3.png) ;
	height: 20px;
	width: 40px;
	margin:0 auto;
}
.VIP13{
	background:url(../img/member/3.png) ;
	height: 20px;
	width: 60px;
	margin:0 auto;
}
.VIP14{
	background:url(../img/member/3.png) ;
	height: 20px;
	width: 80px;
	margin:0 auto;
}
.VIP15{
	background:url(../img/member/3.png) ;
	height: 20px;
	width: 100px;
	margin:0 auto;
}

.duihao{
	background:url(../img/public/duihao.png) ;
	height: 20px;
	width: 20px;
	margin-top:5px;
}